body
{
	background-color: lightblue;
	font-family: Georgia, sans-serif;
}

h1
{
	text-align: center;
	font-family: Georgia, Verdana, Arial, sans-serif;
	color: midnightblue;
	font-size: 32pt;
	line-height: 18pt;
	text-shadow: 4px 3px white;
}

h2
{
	color: navy;
	font-size: 24pt; 
	line-height: 11pt;
	font-family: Verdana;
}

h3
{ 
	font-size: 16pt;
	line-height: 10pt;
	color: royalblue;
}

img
{
	display: block;
	margin: 0 auto;
}

.center
{
	text-align: center;
	font-size: 14pt;
}
